@panelBorderColor: red;

.editor {
  height: 100px;
  background: #FFF;
}

.arrow_box:after, .arrow_box:before {
  bottom: -36px;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: inherit;
  border-width: 15px;
  margin-left: -15px;
}
.arrow_box:before {
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: @panelBorderColor;
  border-width: 17px;
  margin-left: -17px;
}

.card-wrap-first {
  & > .card-line-wrap {
    border: none;
  }

}

.always-visible {
  display: block !important;
  background: none;
  border: none !important;
}


.card-wrap {
  padding-bottom: 50px;
  .card-line-wrap {
    //display: none;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
    //border-top: 5px solid;
    border: 1px solid;
    z-index: 1;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    min-height: 200px;
    margin-bottom: 30px;
    padding-bottom: 45px;
    padding-top: 20px;
    .card-line {
      color: #000;
      background: inherit;
      display: inline-block;
      width: 25%;
      padding: 20px 20px;
      padding-top: 0px;
      padding-bottom: 0px;
      .title-wrap {
        margin-top: 20px;
        display: inline-block;
        border: 1px solid;
        width: 100%;
        height: 180px;
        background: #FFF;
        position: relative;
        box-shadow: 0 -2px 2px rgba(0,0,0,0.1);
        padding: 10px;
        .card-text {
          color: #000;
          overflow: hidden;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          font-size: 1.23em;
          padding: 13px 16px;
        }
        .arrow_box {
          opacity: 0;
        }
        &.active {
          border-bottom: none;
          opacity: 1;
          .title-bottom {
            border-bottom: none;
            padding-bottom: 10px !important;
            z-index: 1;
          }
        }
        .title-bottom {
          //box-shadow: 0px -1px 3px rgba(0,0,0,0.5);
          position: absolute;
          //color: #000;
          font-weight: bold;
          bottom: -1px;
          left: 0;
          right: 0;
          height: auto;
          padding: 8px 10px;
          cursor: pointer;
        }
      }
    }
  }
}


.row-open {
  & > .card-line {
    .title-wrap {
      z-index: 0;
    }
    .title-bottom {
      border-bottom: none !important;
      padding-bottom: 9px !important;
      padding-top: 8px !important;
    }
  }
}


// ............................................................
// .for

.for(@i, @n) {.-each(@i)}
.for(@n)     when (isnumber(@n)) {.for(1, @n)}
.for(@i, @n) when not (@i = @n)  {
  .for((@i + (@n - @i) / abs(@n - @i)), @n);
}

// ............................................................
// .for-each

.for(@array)   when (default()) {.for-impl_(length(@array))}
.for-impl_(@i) when (@i > 1)    {.for-impl_((@i - 1))}
.for-impl_(@i) when (@i > 0)    {.-each(extract(@array, @i))}


@back-color-1: #e4e6f7;
@font-color-1: #53006f;

@back-color-2: #ffece3;
@font-color-2: #840c00;

@back-color-3: #cde8ff;
@font-color-3: #000d87;

@back-color-4: #eaffd5;
@font-color-4: #005a1e;

@back-color-5: #feddff;
@font-color-5: #400788;

@back-color-6: #ffdfe3;
@font-color-6: #610003;

@back-color-7: #ead8ff;
@font-color-7: #4a0088;

@back-color-8: #d8e8ff;
@font-color-8: #000f52;

@back-color-9: #d8efff;
@font-color-9: #005279;

@back-color-10: #e3ffff;
@font-color-10: #015216;

@back-color-11: #fff6dc;
@font-color-11: #5d5b00;

@back-color-12: #ffefeb;
@font-color-12: #886d61;

@back-color-13: #ffeaed;
@font-color-13: #5a0000;

@back-color-14: #e8e4e9;
@font-color-14: #000000;

@back-color-15: #e9ffe0;
@font-color-15: #1a5d02;

.card-wrap {
  .background {
    .for(15); .-each(@i) {
      &-color-@{i} {
        color: ~"@{font-color-@{i}}";
        background: ~"@{back-color-@{i}}" !important;
        .card-path {
          text-align: center;
          //padding-top: 30px;
          //padding-bottom: 10px;
          padding-left: 20px;
          color: ~"@{font-color-@{i}}";
          opacity: 0.4;
          font-size: 1.2em;
          .fa {
            padding: 0px 5px;
          }
        }
      }
    }
  }
  .bottom {
    .for(15); .-each(@i) {
      &-color-@{i} {
        color: ~"@{font-color-@{i}}";
        .title-bottom {
          border-top: 1px solid ~"@{font-color-@{i}}";
          border-bottom: 1px solid ~"@{font-color-@{i}}";
          background: ~"@{back-color-@{i}}" !important;
        }
      }
    }
  }
}
